 <% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2 mt-3 mb-3">
        <h3 class="mb-3"><b>Login</b></h3>
        <form method="POST" action="/login" novalidate class="needs-validation">
        <div class="mb-4">
            <label for="email" class="form-label"><b>Email address</b></label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label"><b>Password</b></label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
