 <% layout("/layouts/boilerplate") %>
<div class="row">
    
    <div class="col-9 offset-0 part1 mt-3">
        <h3><b>Create Your Profile</b></h3> 
        <br>
        <form method="POST" action="/signup" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label  for="username" class="form-label"><b>Name</b></label>
                <input 
                    type="text" 
                    name="user[username]"
                    class="form-control"
                    required
                >
                <div class="invalid-feedback">Please enter your name</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label"><b>Email</b></label>
                <input 
                    type="email"
                    name="user[email]"
                    class="form-control"
                    required
                >
                <div class="invalid-feedback">Email is required</div>
            </div>
            <div class="mb-3">
                <label for="profilePhoto" class="form-label"><b>Upload Profile Image</b></label>
                <input 
                    type="file"
                    name="user[profilePhoto]"
                    class="form-control"
                >
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Password</b></label>
                <input
                    type="password"
                    name="password"
                    class="form-control"
                    required
                >
                <div class="invalid-feedback">Password is Required</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label"><b>Location</b></label>
                <input 
                    type="text"
                    name="user[location]"
                    class="form-control"
                >
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label"><b>Skills Offered</b></label>

                    <select
                        id="skillsOffered"
                        name="user[skillsOffered][]"
                        class="form-control"
                        multiple
                    >
                    </select>
                </div>
                <div class="col mb-3">
                    <label class="form-label"><b>Skills Wanted</b></label>

                    <select
                        id="skillsWanted"
                        name="user[skillsWanted][]"
                        class="form-control"
                        multiple
                    >
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="availability" class="form-label"><b>Availability</b></label>
                <select class="form-select"  name="user[availability]" required>
                    <option value="" selected disabled>Choose your availability</option>
                    <option value="weekdays">Weekdays</option>
                    <option value="weekends">Weekends</option>
                </select>
                <div class="invalid-feedback">Availability is Required</div>
            </div>
            <div class="mb-3">
                <label for="visibility" class="form-label"><b>Profile Visibility</b></label>
                <select class="form-select"  name="user[isPublic]" required>
                    <option value="" selected disabled>Choose Visibility</option>
                    <option value="true">Public</option>
                    <option value="false">Private</option>
                </select>
                <div class="invalid-feedback">Profile Visibility is Required</div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    

</div>

